.about{
    display:flex;
    margin: 10rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light-color);
}

.about h1{
    margin-bottom: 4rem;
}

svg.icon{
  width: 6rem;
  height: 6rem;
  flex: 0 0 auto;
}

.card-container{
    display: flex;
    flex-direction: row;
    gap:2rem;
    justify-content: space-evenly;
}

@media (max-width: 768px), (max-aspect-ratio:1){
    .card-container{
        flex-direction: column;
    }
}

.card{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:8px;
    padding:clamp(1rem, 4rem, 10vw);
    background-color: var(--dark-color);
}

.card h1{
    font-size: 1.4rem;
    text-align: center;
    margin-top:1.5rem;
    margin-bottom:3rem;
}