body{
    margin-top:7vh;
    font-family: "Roboto";
    background-color: var(--bg-color);
}

.icon{
    width: 62px;
    height: 62px;
    color: white;
    fill:white;
    stroke: white;
}

/* Projects-Grid has it's own CSS file */

.contact{
    height:50vh;
}
