html{
    scroll-behavior: smooth;
    margin:0;
    height:auto;
}

*{
    box-sizing: border-box;
}

#shader-bg{
    position:fixed;
    display: block; 
    inset: 0;
    z-index: -100;
    pointer-events: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Roboto";
    background: linear-gradient(-90deg,var(--bg-color),#0c1220);
    margin:0;
    height:auto;
    background:#000;
}

section{
    scroll-margin-top: var(--nav-height);
    padding:3rem;
    max-width: var(--max-width);
}

hr{
    height:2px;
    width:100%;
    border-style: none;
    border-radius: 100%;
    max-width: var(--max-width);
    background: radial-gradient(grey,transparent 70%);
}

.icon{
    width: 62px;
    height: 62px;
    color: white;
    fill:white;
    stroke: white;
}

/* Projects-Grid has it's own CSS file */

.contact{
    height:50vh;
}
