header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    height: var(--nav-height);
    display: flex;
    justify-content: center;
    z-index: 100;
}

header .container{
    width:100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right:2rem;
}

header .logo{
    font-size: 2rem;
    font-weight: 700;
    color: var(--light-color);
    padding: 1rem 2rem;
}

header ul{
    display:flex;
    flex-direction: row;
    gap:0.5rem;
}

header li{
    list-style-type: none;
    padding: none;
    margin:none;
}

header a{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.6rem 1rem;
  color: var(--light-color);
  text-decoration: none;
  border-radius: 999px;

  transition: transform 0.25s ease;
}

header a::before{
  content: "";
  position: absolute;
  inset: -6px;                 /* glow spill */
  border-radius: inherit;

  background: linear-gradient(
    135deg,
    oklab(70.192% -0.14859 0.05272 / 0.5),
    oklab(48.78% -0.02365 -0.24215 / 0.5),
    oklab(62.05% 0.14837 -0.21201 / 0.5)
  );

  filter: blur(12px);
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.25s ease;
}

header a:hover::before{
  opacity: 0.7;
}
