header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    border-bottom: solid 1px grey;
    z-index: 100;
}

header .container{
    width:100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header .logo{
    font-size: 2rem;
    font-weight: 700;
    color: var(--light-color)
}

header ul{
    display:flex;
    flex-direction: row;
    gap:1rem;
}

header li{
    list-style-type: none;
}

header a{
    text-decoration: none;
    color:var(--light-color);
}
