.hero{
    position:relative;
    display: block;
    overflow:hidden;
}

.hero img{
    object-fit: cover;
}

.hero .overlay{
    position:absolute;
    top:0px;
    bottom:0px;
    right:0px;
    display: block;
    background: linear-gradient(90deg,transparent,black);
}