:root {
    --primary-color: #0d6efd; /* Primary accent color (blue) */
    --secondary-color: #6610f2; /* Secondary accent color (purple) */
    --bg-color: #f8f9fa; /* Light background */
    --dark-color: #212529; /* Dark text */
    --light-color: #ffffff; /* Light containers */
    --card-bg: #ffffff; /* Card background */
    --border-radius: 8px;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}

*{
    padding:0;
    margin:0;
}

header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    box-shadow: var(--shadow);
    background-color: var(--bg-color)
}

header .logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color)
}

header ul{
    display:flex;
    flex-direction: row;
    gap:10px
}

header li{
    list-style-type: none;
}

header a{
    text-decoration: none;
    color:black;
}

body{
    margin-top:70px;
}

.hero{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.projects{
    position:relative;
    height:100vh;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:pink;
}

.projects .container{
    display:flex;
    flex-direction: row;
    gap:14px;
    background-color: var(--primary-color);
}

.projects .card-container{
    display:flex;
    flex-direction: column;
    gap:14px;
    background-color: red;

}

.projects .project-card{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: var(--border-radius);
    background-color: blueviolet;
}

.contact{
    height:50vh;
}

footer{
    background-color:var(--dark-color);
    color: var(--light-color)
}