:root {
    --primary-color: #2eb5d3; /* Primary accent color (blue) */
    --secondary-color: #b59a3d; /* Secondary accent color (purple) */
    --bg-color: #090d18; /* Light background */
    --dark-color: #151d31; /* Dark text */
    --dark-color-overlay: rgba(33, 37, 41, 0.8);
    --light-color: #f5f5f7; /* Light containers */
    --card-bg: #111527; /* Card background */
    --border-radius: 16px;
    --max-width: 1920px;
    --shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    --big-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --nav-height:4.5rem;
}

*{
    padding:0;
    margin:0;
}